.board {
    width: 1000px;
    height: 800px;
}
.cell {
    position: absolute;
    width: 100px;
    height: 86px;
    left: 150px;
    top: 150px;
}
.cell>img {
    position: absolute;
    max-width: 100%;
    height: auto;
    transform-origin: center;
}

div.userinfo {
    position: absolute;
    width: 400px;
    height: 800px;
    right: 0px;
}